/*.header {*/
/*    padding: 1%;*/
/*    !*background-color: rgb(128, 0, 107);*!*/
/*    font-size: 20px;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    color: white;*/
/*    border-bottom: solid 1px purple;*/
/*}*/

/*.body {*/
/*    flex: 4;*/
/*    padding: 2%;*/
/*    background-color: rgb(84, 78, 222);*/
/*    font-size: 50px;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    color: white;*/
/*    height: 500px;*/
/*}*/

/*.menu {*/
/*    flex: 1;*/
/*    padding: 2%;*/
/*    background-color: rgb(51 176 77);*/
/*    font-size: 50px;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    color: white;*/
/*    height: 600px;*/
/*}*/

/* .footer {*/
/*     z-index: 1050;*/
/*   padding: 24px 0 24px 250px;*/
/*   background-color: #e57924;*/
/*   font-size: 50px;*/
/*   text-align: center;*/
/*   color: white;*/
/*   width: 100%*/
/* }*/

.main .left-menu{
    padding: 1%;
    float: left;
    width: 15%;
    height: 760px;
    /*background-color: rgb(51 176 77);*/
    color: white;
    font-size: 20px;
    text-align: center;
    border-right: solid 1px purple;
}
.main .content{
    float: left;
    width: 85%;
    height: 700px;
    overflow-y:auto; overflow-x:hidden;
}
.main .content .view{
    height: 650px;
    /*background-color: rgb(84, 78, 222);*/
    color: white;
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px purple;
}
.main .content .footer{
    height: 50px;
    /*background-color: #e57924;*/
    color: white;
    font-size: 20px;
    text-align: center;
}

.main .content .header{
    height: 50px;
    /*background-color: #e57924;*/
    color: white;
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px purple;
}

#app {
    background-color: #1e1e2e;
    height: 760px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    /*overflow-x: hidden;*/
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar ul .inactive{
    list-style:none;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a.active{
    color: #f1f1f1;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* Page Content */
.top-title {
    padding: 20px 8px 8px 32px;
    text-align: left;
    font-size: 30px;
}
