/*.header {*/
/*    padding: 1%;*/
/*    !*background-color: rgb(128, 0, 107);*!*/
/*    font-size: 20px;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    color: white;*/
/*    border-bottom: solid 1px purple;*/
/*}*/

/*.body {*/
/*    flex: 4;*/
/*    padding: 2%;*/
/*    background-color: rgb(84, 78, 222);*/
/*    font-size: 50px;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    color: white;*/
/*    height: 500px;*/
/*}*/

/*.menu {*/
/*    flex: 1;*/
/*    padding: 2%;*/
/*    background-color: rgb(51 176 77);*/
/*    font-size: 50px;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    color: white;*/
/*    height: 600px;*/
/*}*/

/* .footer {*/
/*     z-index: 1050;*/
/*   padding: 24px 0 24px 250px;*/
/*   background-color: #e57924;*/
/*   font-size: 50px;*/
/*   text-align: center;*/
/*   color: white;*/
/*   width: 100%*/
/* }*/

.main .left-menu{
    padding: 1%;
    float: left;
    /*position: fixed;*/
    width: 15%;
    height: 700px;
    /*background-color: rgb(51 176 77);*/
    color: white;
    font-size: 20px;
    text-align: center;
    border-right: solid 1px purple;
}
.main .right-content{
    float: left;
    width: 85%;
    height: 700px;
    overflow-y:auto;
    overflow-x:hidden;
}

.right-content::-webkit-scrollbar {
    display: none;
}

.main .right-content .view{
    height: 900px;
    /*background-color: rgb(84, 78, 222);*/
    color: white;
    font-size: 20px;
    border-bottom: solid 1px purple;
}
.main .right-content .footer{
    height: 50px;
    /*background-color: #e57924;*/
    color: white;
    font-size: 20px;
    text-align: center;
}

.main .right-content .header{
    height: 50px;
    /*background-color: #e57924;*/
    color: white;
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px purple;
}

#app {
    background-color: #1e1e2e;
    height: 760px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    /*overflow-x: hidden;*/
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar::-webkit-scrollbar{ display:none; }


.sidebar ul .inactive{
    list-style:none;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a.active{
    color: #f1f1f1;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* Page Content */
.top-title {
    padding: 20px 8px 8px 10px;
    font-size: 30px;
}

.band {
    border-bottom: solid 1px purple;
    padding: 0px 8px 5px;
}

.row {
    margin-right: unset;
    margin-left: unset;
}

.title {
    font-weight: 600;
}

.card .card-header {
    padding: 15px 15px 0;
    border: 0;
    color: hsla(0,0%,100%,.8);
}

.card-color-navy {
    background: #27293d;
}

.card label {
    font-size: .75rem;
    margin-bottom: 5px;
}

.card label {
    color: hsla(0,0%,100%,.6);
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control {
    border-color: #2b3553;
    border-radius: 0.4285rem;
    font-size: .75rem;
    -webkit-transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    background-color: transparent;
    color: hsla(0,0%,100%,.8);
}

.form-control:focus {
    border-color: #e14eca;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: hsla(0,0%,100%,.8);
}